
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
</head>
<body>
    <div class="p-3 mb-2 bg-black text-white" >
        UEFA Participants
    </div>
    <div class="container" style="padding:20px;">
        <div class="col-12">

            <hr style="border-top:1px dotted #ccc;">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <th>ID</th>
                    <th>Team One</th>
                    <th>Team Two</th>
                    <th>1st Win</th>
                    <th>Draw</th>
                    <th>2nd Win</th>
                </thead>
                <tbody>
                {% for pin in pinlist %}
                    <tr>
                        <td>{{ pin.id }}</td>
                        <td>{{ pin.playerone }}</td>
                        <td>{{ pin.playertwo }}</td>
                        <td>{{ pin.firstwin }}</td>
                        <td>{{ pin.draw }}</td>
                        <td>{{ pin.secondwin }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script type = "text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
});
</script>
</body>
</html>